.form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--semi-dark-blue);
  padding: 4rem;
  max-width: 425px;
  flex: 1 1;
  border-radius: 20px;
}

.form__title {
  margin: 0 0 3.25rem 0;
  text-align: left;
}
.form .input {
  margin-bottom: 1.25rem;
}

.form .btn {
  margin: 3.25rem 0 2.5rem;
}

.form__footer-text {
  margin: 0;
}

.form__footer-link {
  margin-left: 1rem;
}
