.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--semi-dark-blue);
  padding: 2rem;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.25rem;
}

.nav__user-image {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid var(--pure-white);
  border-radius: 50%;
}

.nav__link path {
  transition: var(--transition-duration);
}

.nav__link:hover path {
  fill: var(--red);
}

.nav__link.active path {
  fill: var(--pure-white);
}

@media screen and (min-width: 768px) {
  .nav {
    border-radius: 10px;
  }

  .nav__list {
    gap: 3rem;
  }

  .nav__user-image {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-container {
    max-width: fit-content;
    height: 100vh;
    max-height: 960px;
  }

  .nav {
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 3rem;
    border-radius: 20px;
  }

  .nav__list {
    flex-direction: column;
    margin-top: 7rem;
    gap: 4rem;
  }

  .nav__user-image {
    margin-top: auto;
    width: 40px;
    height: 40px;
  }
}
