.app__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem;
  padding-top: 0;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 768px) {
  .app {
    margin: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .app {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 3.25rem;
  }

  .app__content {
    gap: 4rem;
  }
}
