:root {
  --red: #fc4747;
  --dark-blue: #10141e;
  --greayish-blue: #5a698f;
  --semi-dark-blue: #161d2f;
  --pure-white: #ffffff;

  --light-font: 300;
  --medium-font: 500;

  --transition-duration: 0.3s;
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--pure-white);
  font-family: "Outfit", sans-serif;
  background-color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: var(--light-font);
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Typography */
.font-lg,
.font-md {
  font-weight: var(--light-font);
}

.font-sm,
.font-xsm {
  font-weight: var(--medium-font);
}

.font-lg {
  font-size: 3.2rem;
}

.font-md,
.font-sm {
  font-size: 2.4rem;
}

.font-xsm {
  font-size: 1.8rem;
}

.font-tiny {
  font-size: 1.3rem;
}

.text-accent {
  color: var(--red);
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: var(--light-font);
  padding: 1em 4em;
  color: inherit;
  background-color: var(--red);
  border: 0;
  outline: 0;
  border-radius: 6px;
  transition: var(--transition-duration);
}

.btn:hover {
  background-color: var(--pure-white);
  color: var(--semi-dark-blue);
}

.btn--block {
  width: 100%;
}
